/* 색 배합
#222831 짙은 회색
#393E46 회색
#00ADB5 청록색
#EEEEEE 어두운 흰색
*/

@font-face {
    font-family: 'GothicA1-Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2205@1.0/GothicA1-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}

body {
    font-family: 'GothicA1-Light';
    background-color: #222831;
    color: #EEEEEE;
}

h1 {

}

.gray-block {
    background-color: #393E46;
    border-radius: 15px;
}

.post {
    margin: 20px 20px 1px 20px;
    padding: 5px 15px 15px 15px;
}

.top {
    display:inline-block;
    background-color: #393E46;
    color: #EEEEEE;
    border-radius: 15px;
    padding: 0px;
}

.border {
    border-style: solid;
    border-color: #00ADB5;
}

a { text-decoration: none; color: inherit; }
a:visited { text-decoration: none; color: inherit; }
a:hover {
    text-decoration: none;
    color: #00ADB5;
}
a:focus { text-decoration: none; color: inherit; }
a:hover, a:active { text-decoration: none; color: inherit; }

.contents {
    padding: 20px 10px;
    border-radius: 15px;
}

.white {
    background-color: #EEEEEE;
    color: #222831;
}

.create-post{
    display: inline-block;
    vertical-align: middle;
    font-size: 30px;
    margin: 10px;
}